ansible==2.4.0.0
certifi==2017.7.27.1
chainmap==1.0.2
chardet==3.0.4
ecdsa==0.13
future==0.16.0
httplib2==0.9.1
idna==2.6
Jinja2==2.8
jtextfsm==0.3.1
junos-eznc==2.1.6
librouteros==1.0.3
lxml==3.8.0
MarkupSafe==0.23
napalm==1.2.0
napalm-ansible==0.7.0
napalm-base==0.25.0
napalm-ios==0.7.0
napalm-nxos==0.6.0
ncclient==0.5.3
netaddr==0.7.19
netmiko==1.4.2
pan-python==0.12.0
paramiko==1.16.0
pycrypto==2.6.1
pyeapi==0.8.1
pyfg==0.50
pyIOSXR==0.52
pynxos==0.0.3
pyPluribus==0.3.1
pyserial==3.4
PyYAML==3.11
requests==2.18.4
requests-toolbelt==0.8.0
scp==0.10.2
six==1.10.0
urllib3==1.22
VyattaConfParser==0.5.1
xmltodict==0.11.0
